body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

.logo-name {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 400;
}



h2,
h3,
h4,
h5,
h6 {
    font-family: 'Fjalla One', sans-serif;
    /* font-style: italic; */
}

.header {
    background-color: #1d252c;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
}

.header-logoContainer {
    margin: 0;
    padding: 0;
    /* display: flex; */
}

.header-logo {
    margin: 0;
    padding: 0;
    width: 250px;
    /* height: 70px; */
}

.menu {
    /* width: 500px; */
    /* height: 86px; */
    /* display: flex; */
    /* width: 100%; */
    margin: 0;
    padding: 0;
    height: inherit;  
}

.menu-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0; 
    height: inherit;
    /* align-items: center; */
}

.menu-item {
    /* display: flex; */
    /* justify-items: center; */
    margin: 0 20px 0 20px;
    height: inherit;
    /* display: flex; */
}

.menu-link {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    height: inherit;
}


.hero {
    display: flex;
    align-items: center;
    height: 300px;
    /* color: white; */
    background-image: url(../images/jpg/hero.jpg);
    background-size: 500px 300px;
    background-repeat: no-repeat;
    background-position: right;
    background-color: #1b2127;
    margin: 0;
}

.hero-title strong {
    color: #026fff;
}

.hero-title {
    font-size: 30px;
    margin: 0;
    line-height: 1.5;
    letter-spacing: -0.2px;
    color: white;
    /* text-transform: uppercase; */
    /* text-decoration: dashed; */

    /* margin: TOP RIGHT BOTTOM LEFT; */
    /* margin: 10px 150px 50px 30px; */

    /* PARA CENTRAR UN ELEMENTO RESPECTO A LOS MARGENES DISPONIBLES SE UTILIZA */
    /* margin: 0 auto; */

}


.portfolio {
    background: #b4c4d1;
    padding: 25px 0;
}

.portfolio-title {
    margin: 0 40px;
}


.project {
    background-color: #ffffff;
    border: 1px solid black;
    margin: 50px 15px 0 30px;
    padding: 20px 15px;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
} 

/* 
.project-title,
.project-course,
.project-date,
.project-url {
    padding-left: 10;
} */


.project-title,
.project-course,
.project-date,
.project-url {
    margin: 0;
}


.project-details {
    width: 500px;
}


.footer {
    color: white;
    background-color: #1b2127;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}



.footer-logo {
    width: 60px;
    height: 40px;
    vertical-align: middle;
}

.footer-credits {
    margin-right: 10px;
}
.footer a {
    color: white;
}
