body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

/* .logo-name {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 400;
} */


h2,
h3,
h4,
h5,
h6 {
    font-family: 'Fjalla One', sans-serif;
    /* font-style: italic; */
}

.headerContainer {
    background-color: #1b2127;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: center;
}

.header {
    background-color: #1b2127;
    /* color: white; */
    margin: 0;
    padding: 0;
    display: flex;
    width: 1000px;
    height: inherit;
    align-items: center;
    justify-content: space-between;
}

.header-logoContainer {
    margin: 0;
    padding: 0;
    /* display: flex; */
}


.header-logo {
    margin: 0;
    padding: 0;
    width: 250px;
    /* height: 70px; */
}

.menu {
    /* width: 500px; */
    /* height: 86px; */
    /* display: flex; */
    /* width: 100%; */
    margin: 0;
    padding: 0;
    height: inherit;  
}

.menu-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0; 
    height: inherit;
    /* align-items: center; */
}

.menu-item {
    /* display: flex; */
    /* justify-items: center; */
    margin: 0 20px 0 20px;
    height: inherit;
    /* display: flex; */
}

.menu-link {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    height: inherit;
}

.heroContainer {
    display: flex;
    justify-content: center;
    height: 300px;
    background-color: #1b2127;
    /* width: 1000px; */
    /* margin: 0 0 0 100px; */
}

.hero {
    /* margin: 0 auto; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
    width: 1000px;
    /* color: white; */
    /* background-image: url(../images/jpg/hero.jpg); */
    /* background-size: 500px 300px; */
    /* background-repeat: no-repeat; */
    /* background-position: right; */
    background-color: #1b2127;
}

.hero-title strong {
    color: #026fff;
}

.hero-title {
    font-size: 30px;
    margin: 0 0 0 30px;
    line-height: 1.5;
    letter-spacing: -0.2px;
    color: white;
    /* text-transform: uppercase; */
    /* text-decoration: dashed; */

    /* margin: TOP RIGHT BOTTOM LEFT; */
    /* margin: 10px 150px 50px 30px; */

    /* PARA CENTRAR UN ELEMENTO RESPECTO A LOS MARGENES DISPONIBLES SE UTILIZA */
    /* margin: 0 auto; */

}


.hero-imageContainer {
    height: 300px;
    margin: 0;
    padding: 0;
}

.portfolioContainer {
    background-color: #e3ebf1;    
}

.portfolio {
    background: #e3ebf1;
    padding: 40px 0;
    width: 1000px;
    margin: 0 auto;
    /* display: flex; */
    /* justify-content: center; */
}

.portfolio-title {
    margin: 0 40px;
    font-family: 'Source Sans Pro ', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    color: #026fff;
    font-weight: 600;

}


.project {
    background-color: #ffffff;
    height: 300px;
    border: 1px solid black;
    margin: 50px 35px 0 35px;
    padding: 10px 15px 20px 15px;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    letter-spacing: -0.5px;
} 

.project-details {
    width: 400px;
}

.project-course,
.project-date,
.project-url {
    margin: 0 0 5px 0;
}

.project-title {
    font-family: 'Fjalla One', sans-serif;
    font-size: 25px;
    margin: 5px 0 5px 0;
    /* padding: 0; */
}

.project-course {
    font-size: 14px;
    font-weight: 400;
    color: rgb(136, 135, 135);
    /* margin-bottom: 0; */
    /* padding: 0; */
}

.project-url a {
    color: black;
    text-decoration: none;
}

.project-image {
    width: 400px;
    height: 300px;
}

/* 
.project-title {
    margin-bottom: 0;
    padding: 0;
} */

.experienceContainer {
    background: #e3ebf1;
    display: flex;
    justify-content: center;
}

.experience {
    width: 1000px;
    background-color: #e3ebf1;
    /* border: 1px solid black; */
    /* padding: 0 15px; */
    /* margin: 0 35px; */
}

.experience-title {
    color: #026fff;
    text-transform: uppercase;
    margin: 20px 0 20px 40px;
    /* background: ; */
    /* padding: 40px 0; */
}

.eventContainer {
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    /* width: 400px; */
    /* height: 500px; */
    justify-content: space-between;
}


.event {
    /* border: 1px solid black; */
    width: 400px;
    height: 550px;
    margin: 0 30px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* flex-wrap: wrap; */
}

.event-imageContainer {
    width: 400px;
    height: 300px;
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
    border-radius: 20px;
    overflow: hidden;
    flex-shrink: 0;
}

.event-image {
    width: 400px;
    height: 300px;
    object-fit: cover;
    
}


.event-detail {
    /* border: 1px solid black; */
    background-color: white;
    width: 250px;
    height: 250px;
    margin-top: -35px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;

}

.event-title {
    width: inherit;
    height: 20px;
    text-align: center;
    margin-top: 15;
    margin-bottom: 10px;
}

.event-description {
    font-family: 'Fjalla One';
    color: gray;
    width: inherit;
    height: 100px;
    margin: 0 15px;
    text-align: left;
}

.event-url {
    font-family: 'Fjalla One';
    color: #026fff;
    text-decoration: none;
    margin: 20px 0 0 0;
    /* padding: 7px; */
    border: 1px solid;
    width: 120px;
    height: 34px;
    /* text-align: center; */
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactContainer {
    height: 150px;
    background-color: #026fff;
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
}

.contact {
    width: 1000px;
    height: inherit;
    background-color: #026fff;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.form-email {
    margin: 0 0 0 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
}

.form-title {
    font-family: 'Source Sans Pro', 'sans-serif';
    font-size: 400;
    margin: 0 0 15px 0;
    text-transform: uppercase;
    color: white;
}

.form-email input {
    background-image: url(../images/svg/envelope.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position-y: center;
    background-position-x: 5px;
    height: 30px;
    color: gray;
    padding: 0 0 0 30px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 5px ;
}

.form-email button {
    width: 70px;
    height: 30px;
    background-color: transparent;
    color: white;
    border: 1px solid;
    border-radius: 5px;
}

.socials {
    width: 475px;
    height: 115;
    /* display: flex; */
    /* justify-content: center; */
    /* display: inline-flex; */
}

.social-twitter,
.social-facebook,
.social-github,
.social-instagram {
    width: 60px;
    height: 60px;
    margin: 25px;
}

.social-instagram {
    margin-right: 50px;
}

.footerContainer {
    background-color: #1b2127;
    height: 60px;
    display: flex;
    justify-content: center;
}

.footer {
    color: white;
    background-color: #1b2127;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}


.footer {
    height: inherit;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    /* padding: 0 20px; */
}

.footer-message {
    margin: 0 0 0 20px;
}

.footer-logo {
    width: 60px;
    height: 40px;
    vertical-align: middle;
}

.footer-credits {
    margin-right: 20px;
}
.footer a {
    color: white;
}
