body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
    /* margin: 0; */
}

.logo-name {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #1d252c;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center; 
}

.header-logoContainer {
    margin: 0;
    padding: 0;
}

.header-logo {
    margin: 0;
    padding: 0;
    width: 100px;
    height: 100px;
}

.logo-nameContainer {
    width: 500px;
    /* height: 100px; */
    margin: 0;
    padding: 0;
    display: flex;
}

.logo-name {
    margin: 0 10px 0 10px;
    padding: 0;
    width: 150px;
    /* height: 30px; */
}


.menu {
    /* width: 500px; */
    /* height: 86px; */
    /* display: flex; */
    /* width: 100%; */
    /* margin: 0; */
    /* padding: 0;     */
}

.menu-list {
    /* display: flex; */
    /* list-style: none; */
    /* margin: 0; */
    /* padding: 0;  */
    /* justify-content: center; */
}

.menu-item {
    /* margin: 5px; */
    /* display: flex; */
}

.menu-link {
    /* color: white; */
    /* text-decoration: none; */
}


.cuerpo {
    width: 1500px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cuerpo1,
.cuerpo2,
.cuerpo3 {
    width: 250px;
    height: 50px;
}

.list {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
    width: 250px;
    height: 50px;
    justify-content: space-between;
}

.item {

}